<h1>Edit Task</h1>

<% if @task && @task.errors.any?  %>
<p>Check below for the following errors</p>
<ul>
    <% @task.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_with(model: @task, local: true) do |f| %>

<p>
    <%= f.label :task %><br />
    <%= f.text_field :task %>
</p>

<p>
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
</p>
<%= f.submit "Update Task", disable_with: 'Updating...' %>

<% end %>