<h1 class="header-index">Edit Task</h1>

<%= render 'error_messages' %>
<div class="form">
    <%= form_with(model: @task, local: true) do |f| %>
    <p>
        <%= f.label :task, class:"label" %>
        <%= f.text_field :task, class:"field" %>
    </p>

    <p>
        <%= f.label :comments, class:"label" %>
        <%= f.text_area :comments, class:"field" %>
    </p>
    <%= f.submit "Update Task", disable_with: 'Updating...', class:"btn-this-app" %>

    <% end %>
</div>

<hr>

<div class="my-link">
    <%= link_to  "Go Back", task_index_path, class:"btn-this-app" %> 
</div>