<% flash.each do |name, msg| %>
    <p>
        <%= msg %>
    </p>
<% end %>

<h1>ARTICLE</h1>

<p> Task: <%= @task.task %> </p>
<p> Comments: <%= @task.comments %> </p>

<p>
<%= link_to  "Edit", edit_task_path(@task.id) %> | 
<%= link_to  "Delete", task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to  "Go Back", "/task" %>
</p>