<% if @tasks.exists? %>
<%= will_paginate @tasks %>
<table class="index-table">
    <thead>
        <tr>
            <th class="table-head-row task border">Task</th>
            <th class="table-head-row comments border">Comments</th>
            <th class="table-head-row creator border">Created By</th>
            <th class="table-head-row created-updated border">Created On</th>
            <th class="table-head-row created-updated border">Last Update On</th>
            <th class="table-head-row actions border" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
        <tr class="table-content-row">
            <td class="table-data-row border"> <%= task.task %> </td>
            <td class="table-data-row border"> <%= task.comments %> </td>
            <td class="table-data-row border"> <%= task.user.username %> </td>
            <td class="table-data-row border">
                <%= task.created_at.day %> -
                <%= task.created_at.month %> -
                <%= task.created_at.year %>
            </td>
            <td class="table-data-row border">
                <%= task.updated_at.day %> -
                <%= task.updated_at.month %> -
                <%= task.updated_at.year %>
            </td>
            <% if task.user_id == current_user.id %>
                <td class="table-data-row border"> 
                    <%= link_to  "Delete", 
                        task_path(task.id), 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' } 
                    %> 
                </td>
                <td class="table-data-row border"> 
                    <%= link_to  "Edit", edit_task_path(task.id) %> 
                </td>
            <% else %>
                <td class="table-data-row border"> 
                    Delete
                </td>
                <td class="table-data-row border"> 
                    Edit
                </td>
            <% end %>
            
            <td class="table-data-row border"> <%= link_to  "Show", task_path(task.id) %> </td>
            
        </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @tasks %>
<% else %>
<h5 class="header-index">
    No Tasks available for this user.
    <%= link_to  "Create a Task", new_task_path %>
</h5>
<% end %>